body {
  background: rgb(30, 76, 173);
  color: #fff;
}

.App {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 30px;
  margin: 20px;
  border: 7px dashed rgb(0, 81, 255);
  height: 400px;
  width: 620px;
}

h1 {
  font-size: 35px;
  width: 500px;
  text-align: center;
}

button {
  width: 230px;
  height: 40px;
  color: #fff;
  background-color: blue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.conatiner_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 30px;
  margin: 20px;
  border: 7px dashed rgb(3, 48, 146);
  height: fit-content;
  width: auto;
}

.container_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 30px;
  margin: 20px;
  border: 7px dashed rgb(0, 81, 255);
  height: 400px;
  width: 620px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.shit-1 {
  width: 300px;
  height: 600px;
  background: rgb(0, 27, 146);
}


.container_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 30px;
  margin: 20px;
  border-left: 3px solid red;
  border: 7px dashed rgb(0, 81, 255);
  height: 400px;
  width: 620px;
}

.contaent_insaett {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.contaent_insaett h1 {
  font-size: 29px;
  font-weight: 900;
}

.delete {
  background-color: red;
}

.Add {
  background-color: rgb(44, 197, 44);
}

.conatiner_5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 30px;
  margin: 20px;
  border-left: 3px solid red;
  border: 7px dashed rgb(0, 81, 255);
  height: 400px;
  width: 620px;
}

.value_input {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  border: none;
  border-bottom: 3px solid rgb(47, 0, 255);
  background: none;
  outline: none;
  color: #fff;
}

.value_input:focus {
  background-color: rgb(39, 42, 223);
}

.container_6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 30px;
  margin: 20px;
  border-left: 3px solid red;
  border: 7px dashed rgb(0, 102, 255);
  height: 400px;
  width: 620px;
}

button:focus {
  background-color: brown;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btn_wrapper button {
  background: none;
  border: 2px solid rebeccapurple;
}